{:paths ["src", "gramamars"]
 :deps {org.clojure/clojure                     {:mvn/version "1.11.1"}
        org.antlr/antlr4-runtime                {:mvn/version "4.11.1"}
        org.antlr/antlr4        {:mvn/version "4.11.1"}
        org.clojure/tools.logging {:mvn/version  "1.2.4"}}}